#top-bar{
	background: #ffffff;
	border-bottom: 3px solid #00bfff;
    border-top: 2px solid #00bfff;
}
#header{
	border-bottom: 3px solid #00bfff;
	position: fixed;
    z-index: 9999;
    background: white;
}
#slider{
	margin:61px;
}
#main{
	margin:62px;
	float: right;
}
/* 6.Services Area
/*--------------------------------*/
.services-area{
    background: #fff;
}
.services-all{
	margin-top: -30px;
}
.single-services {
    box-shadow: none;
    margin-top: 30px;
    position: relative;
    z-index: 1;
    border: 1px solid #f6f6f6;
    padding: 20px 10px;
    /* width: 349px; */
    /* height: 97px; */
}
.service-images {
    width: 60px;
    float: left;
    height: 60px;
    font-size: 26px;
    color: #fff;
    background: #00bfff;
    margin-right: 15px;
    line-height: 56px;
    text-align: center;
    border: 1px solid #00bfff;
    border-radius: 50%;
}
.services-all .service-content {
    padding-left: 75px;
}
.single-services .service-content h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.single-services .service-content h4 a {
    color: #444;
}
.single-services .service-content h4 a:hover {
    color: #00bfff;
}
.single-services:hover .service-images{
    margin-top: 30px;
	color: #00bfff;
    background: rgb(116, 225, 233);
    border: 2px solid #00bfff;
}
/*----------------------------------------*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
	float: left;
}
.col-xs-12 {
    width: 100%;
}
@media (min-width: 768px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}
	.col-sm-6 {
		width: 50%;
	}
}
@media (min-width: 992px){
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}
	.col-md-4 {
		width: 33.33333333%;
	}
}
@media (min-width: 1200px){
.container-services {
    width: 1170px;
}
}
@media (min-width: 992px){
.container-services {
    width: 970px;
}
}
@media (min-width: 768px){
.container-services {
    width: 970px;
}
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
