
@media (min-width: 1920px) {


}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.main-menu ul.navbar-nav li a {
    font-size: 13px;
    padding: 46px 10px;
}	
.header-area.stick .main-menu ul.navbar-nav li a{
    font-size: 13px;
    padding: 24px 10px;
}   
.service-content h4 {
    font-size: 15px;
}
.single-services .service-content h4 {
    font-size: 14px;
}    
.fun_text > h5 {
    font-size: 15px;
}    
.sub-head h4 {
    font-size: 26px;
} 
.blog-content a h4 {
    font-size: 20px;
}    
.slider-content {
    top: 15%;
}
.left-menu ul li a {
    font-size: 13px;
    padding: 14px 10px;
}     
.down-btn {
    font-size: 13px;
    padding: 15px 10px;
}    
.support-text {
    padding: 20px 5px;
}    
    
    
    
    
}




/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.topbar-left ul li:last-child{
		display: none;
	}
.main-menu ul.navbar-nav li a,
.main-menu ul.navbar-nav li a, .header-area.stick .main-menu ul.navbar-nav li a {
    font-size: 13px;
    padding: 30px 9px;
}
.header-area.stick .main-menu ul.navbar-nav li a{
    font-size: 13px;
    padding: 24px 9px;
}
.logo a {
    padding: 22px 0;
}
.header-right-link a.main-search {
    padding: 24px 15px;
}
.section-headline h3 {
    font-size: 30px;
}
.sub-head h4 {
    font-size: 20px;
}
.slider-content {
    margin-top: -70px;
}  
.layer-1-2 h1 {
    font-size: 26px;
    line-height: 32px;
    max-width: 500px;
}
.layer-1-1 p {
    font-size: 17px;
    line-height: 24px;
    max-width: 500px;
}
.ready-btn {
    margin-top: 5px;
}
.service-content h4,
.single-services .service-content h4{
    font-size: 14px;
}
.about-content h4 {
    line-height: 24px;
    font-size: 15px;
}
.single-about {
    width: 100%;
	margin-bottom: 0px;
	margin-top: 10px;
}
.about-details {
    padding: 0px 0px;
}
.counter-inner,
.about-count{
    padding: 100px 30px;
}
.fun_text {
    width: 42%;
}
.fun_text span {
    font-size: 28px;
}
.left-menu ul li a {
    font-size: 13px;
    padding: 14px 10px;
}     
.down-btn {
    font-size: 13px;
    padding: 15px 10px;
}    
.support-text {
    padding: 20px 10px;
}
.single-page {
    margin: 15px 0px;
}   
.single-services-page .mar-row {
    margin-top: 20px;
}
.counter-inner h4 {
    line-height: 28px;
    font-size: 18px;
}
.project-dec h4 {
    font-size: 15px;
}
.choose-wrapper {
    padding: 80px 30px 80px 30px;
	background: #f8f8f8;
}
.counter-inner p {
    font-size: 14px;
    line-height: 24px;
}
.header-area-2.stick .logo a,
.header-area-2 .logo a {
    padding: 10px 0;
}
.header-area-2 .main-menu ul.navbar-nav li a, .header-area.stick .main-menu ul.navbar-nav li a {
    font-size: 13px;
    padding: 20px 9px;
}
.header-area-2 .header-right-link a.main-search,
.header-area-2.stick .header-right-link a.main-search {
    padding: 13px 15px;
}
.intro-area-2 .slider-content {
    margin-top: -120px;
}
.feature-text h4 {
    font-size: 18px;
} 
.single-contact h5 {
    font-size: 17px;
}
.contact-icon {
    padding: 30px 15px;
}    
.header-middle-area .header-info:first-child{
		display: none;
	}    
.header-middle-area .header-info {
    width: 50%;
    float: left;
}    
.header-area-3.stick .header-right-link a.main-search {
    padding: 14px 15px;
}   
.header-area-3.stick .main-menu ul.navbar-nav li a {
    padding: 20px 15px;
}
.intro-area-3 .slider-content {
    margin-top: -128px;
}
.counter-area-2 .fun_text {
    padding: 50px 5px;
}
.counter-area-2 .fun_text {
    margin-right: 13px;
}	
.choose-area-2 .choose-wrapper {
    background: #f6f6f6;
    padding: 80px 30px 80px 30px;
}	
.banner-area-2 .banner-content h4 {
    max-width: 500px;
}
.image-layer a i {
    font-size: 70px;
}	
.intro-area-4 .slider-content {
    margin-top: -120px;
}	
.top-price-inner h4 {
    font-size: 20px;
}	
.contact-head h3 {
    font-size: 24px;
}	
	
}

/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.logo {
    height: inherit;
    left: 0;
    padding: 0;
    position: absolute;
    top: 8px;
    z-index: 999999;
    max-width: 150px;
}
.logo a {
    padding: 0px;
}
.pagess::after {
    display: none;
}
.slider-content {
    margin-top: -90px;
}
.layer-1-2 {
    margin: 5px 0;
}
.layer-1-2 h1 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
} 
.layer-1-1 p {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 20px;
}
 .ready-btn.right-btn {
    margin-left: 5px;
}   
.ready-btn {
    margin-top: 0px;
    padding: 8px 20px 8px 5px;
    width: 128px;
}    
.intro-area {
    width: 100%;
    height: auto;
    min-height: 220px;
	margin-top: 68px;
}
.intro-content,
.slider-images img{
    width: 100%;
    height: 100%;
    min-height: 220px;
}
.section-headline h4 {
    font-size: 20px;
    line-height: 30px;
}
.about-content h4 {
    line-height: 27px;
    font-size: 16px;
    margin-top: 15px;
}
.main-services {
    margin-bottom: 20px;
}
.section-headline h3 {
    font-size: 24px;
}
.breadcrumb .section-headline h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
.counter-inner {
    padding: 100px 40px 100px 40px;
}
.counter-inner h4 {
    line-height: 30px;
    font-size: 20px;
}
.about-count {
    padding: 80px 40px 80px 40px;
}
.fun_text {
    width: 46%;
}
.fun_text span {
    font-size: 22px;
}
.fun_text > h5 {
    font-size: 13px;
}
.single-team-member{
	margin-top: 30px;
}
.faq-content {
    padding: 5% 8%;
    margin-top: 30px;
}
.banner-content h4 {
    font-size: 20px;
    line-height: 26px;
}
.project-carousel{
    margin-top: 50px;
}
.main-view {
    float: none;
    padding: 10px 30px;
    width: 100%;
}
.review-content.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-prev, .review-content.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-next {
    display: none !important;
}
.project-dec h4 {
    font-size: 16px;
}
.sub-head h4 {
    font-size: 24px;
}
.banner-contact span {
    font-size: 17px;
    margin-right: 6px;
}    
.banner-contact span i {
    margin-right: 10px;
}
.banner-btn {
    float: none;
    margin-top: 20px;
}
.footer-content {
    margin-bottom: 40px;
}   
.copyright {
    text-align: center;
    margin: 10px 0px;
}
.copyright ul {
    text-align: center;
}
.copyright ul li:first-child {
    margin-left:0px;
}
.copyright ul li a {
    text-align: center;
} 
.about-feature {
    padding-top: 30px;
}
.single-about {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 15px;
}   
.video-text {
    margin-top: 30px;
}
.video-text h4 {
    font-size: 21px;
}
.single-member {
    margin-bottom: 30px;
} 
.left-head-blog {
    margin-top: 40px;
}    
.business-faq {
    margin-bottom: 40px;
}    
.single-faq h3 {
    font-size: 18px;
}    
.project-menu li a {
    font-size: 13px;
    margin: 5px 3px;
    padding: 5px 6px;
} 
.project-details h3 {
    font-size: 26px;
}
.project-details{
    margin-bottom: 30px;
}
.project-history {
    padding: 50px 15px;
    margin-bottom: 30px;
}
.single-page {
    margin: 15px 0px;
}  
.single-services-page .mar-row {
    margin-top: 20px;
}    
.client-head {
    margin-left: 0px;
} 
.client-head h3 {
    font-size: 24px;
}
.intro-area.intro-area-2 {
    margin-top: 0px;
}
.intro-area-2 .slider-content {
    margin-top: -90px;
}
.intro-area-3 .slider-content {
    margin-top: -90px;
    text-align: center;
}
.contact-icon {
    padding: 20px 5px;
	margin-bottom: 40px;
}
.intro-area-3,
.intro-area-4{
	margin-top: 0px;
}
.intro-area-4 .slider-content {
    margin-top: -90px;
}
.counter-area-2 .fun_text {
    float: none;
    width: 100%;
	margin-bottom: 20px;
}
.counter-area-2 .fun_text span {
    font-size: 36px;
}
.about-image{
	margin-bottom: 30px;
}
.choose-area-2 .choose-wrapper {
	background: #f9f9f9;
	padding: 80px 30px 80px 30px;
}
.table-list{
	margin-bottom: 30px;
}
.video-inner.text-center > h3 {
    font-size: 20px;
}
.banner-area-2 .banner-content h4 {
    font-size: 20px;
}
.banner-area-2 .banner-btn {
    float: left;
}
.texti-name {
    padding-left: 6px;
}
.error-easy-text {
    font-size: 24px;
}
.high-text {
    font-size: 100px;
    line-height: 120px;
}
.error-bot {
    font-size: 15px;
}
.single-well h3 {
    margin-bottom: 5px;
    font-size: 22px;
}
.single-well a h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.tab-menu ul.nav li a {
    padding: 10px 5px;
    margin-right: 0px;
    width: 90px;
    font-size: 12px;
}
.project-details h4 {
    font-size: 22px;
}	
.contact-head {
    padding: 40px 10px;
}
.contact-head h3 {
    font-size: 20px;
}
.single-contact a {
    font-size: 14px;
}	
.choose-wrapper {
    background: #f9f9f9;
    padding: 80px 30px 80px 30px;
}	
    
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.counter-area-2 .fun_text {
    float: left;
    width: 46%;
    margin-bottom: 20px;
}
.fun_text:nth-child(2n),
.fun_text:nth-child(4n){
    margin-right: 0px;
}
.choose-area-2 .choose-wrapper {
    background: #fff;
    padding: 80px 100px 80px 100px;
}
    
    
}
 